//Color
$color-grey:#262626;
$color-orange:#ff6033;
// $color-fresh-life:#fff;
// $color-about-us :#00b3b3;
//Fonts
$font-Raleway: 'Raleway', sans-serif;
$font-Pacifico: 'Pacifico',sans-serif;
//Paths
$path-img:'../img/';